<div ng-controller="loginController" class="jumbotron text-center">
    <h1>Login</h1>
    
    <form name="userLogin">         
        <fieldset  >
            <legend class="">Identificação</legend>
                Name: <input type="text" ng-model="user.username"
placeholder="Usuário" ng-required="true" ><br>
                Senha <input type="password" ng-model="user.password"
placeholder="Senha" ng-required="true" ><br>
                <button ng-click="login()" >Entrar</button>
                
        </fieldset>
        <a href="#servico"><i class="fa fa-sign-in" aria-hidden="true"></i> Servico</a>
        
    </form>
    <button ><a ng-href="cadastro.html">Não sou cadastrado</a></button>

</div>